TextComparation/TextComparation.xcodeproj/project.xcworkspace/xcuserdata/talong.xcuserdatad/UserInterfaceState.xcuserstate
TextComparation/TextComparation.xcodeproj/xcuserdata/talong.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TextComparation/TextComparation.xcodeproj/xcuserdata/talong.xcuserdatad/xcschemes/xcschememanagement.plist
